.location-search-input{width: 100%; outline: none; margin: 3px 0px; height: 39px; padding-right: 39px;}
.autocomplete-dropdown-container div{text-align: left; border: 1px solid #ccc; margin-top: -1px; padding: 6px 3px;}
h6{margin-bottom: 0px;}
